<launch>

   <node name="audio_play_on_robot" pkg="audio_play" type="audio_play">
      <remap from="audio"  to="audio/fromOperator"/>
   </node>

   <node name="audio_capture_from_robot" pkg="audio_capture" type="audio_capture">
      <remap from="audio"  to="audio/fromRobot"/>
   </node>


</launch>
