#!/usr/bin/env python
PACKAGE = "ohm_gripper"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("open_position", double_t, 0, "Adjust open position of the gripper",-1.0, -3.14, 3.14)
exit(gen.generate(PACKAGE, "ohm_gripper", "ReconfigureActionGrip"))