<launch>
<node pkg="ohm_visca_control" type="ohm_visca_joy_control" name="ohm_visca_joy_control" output="screen">
    <param name="button_autofocus" value="11" />
    <param name="button_zoom_tele" value="13" />
    <param name="button_zoom_wide" value="14" />
    <param name="button_focus_near" value="15" />
    <param name="button_focus_far" value="16" />
    <param name="axis_zoom" value="1"/>
    <param name="axis_focus" value="0"/>
    <param name="zoomSpeed_max" value="7"/>
    <param name="focusSpeed_max" value="2"/>
    <param name="deadzone_zoom" value="0.01"/>
    <param name="deadzone_focus" value="0.01"/>
</node>

<node pkg="ohm_visca_control" type="ohm_visca_control_node" name="ohm_visca_control" output="screen">
</node>

  <node name="tamron" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/tamron-zoom-camera" />
    <param name="image_width" value="1280" />
    <param name="image_height" value="720" />
    <param name="framerate" value="25" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="zoom_cam" />
    <param name="camera_name" value="tamron" />
    <param name="io_method" value="mmap"/> 
  </node>

 <node respawn="true" pkg="joy"
        type="joy_node" name="visca_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.06" />
  </node>

</launch>
