<library path="ohm_schroedi_mc/librqt_flipper">
  <class name="RqtPluginFlipper" type="ohm_flipper::RqtPluginFlipper" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      Plugin to manipulate the flippers
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Flipper Plugin</label>
      <icon type="theme">system-help</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>

