#!/usr/bin/env python
PACKAGE = "ohm_dynamixel"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("open_position",   double_t, 0, "Adjust open position of the gripper",  0.0, -6.28, 6.28)
gen.add("closed_position", double_t, 0, "Adjust closed position of the gripper",0.0, -9.28, 6.28)
gen.add("arrived_thresh",  double_t, 0, "Adjust arrived thresh of the gripper", 0.01, 0.01, 1.0)
gen.add("des_angle",       double_t, 0, "Adjust angle gripper",                 0.0, -9.42, 9.42)
gen.add("loop_on",           bool_t, 0, "start auto loop",                      False)

exit(gen.generate(PACKAGE, "ohm_dynamixel", "ReconfigureGripperTest"))