<?xml version="1.0"?>
<launch>
  <node name = "rqt_remote" pkg = "rqt_gui" type = "rqt_gui" respawn = "false" output = "screen" args = "--perspective-file $(find operator)/rqt_perspective/rqt_remote.perspective"/>
  <node name = "rqt_sensor_test" pkg = "rqt_gui" type = "rqt_gui" respawn = "false" output = "screen" args = "--perspective-file $(find operator)/rqt_perspective/sensor_test.perspective"/>
</launch>
