#!/usr/bin/env python
PACKAGE = "ohm_arm_interface"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("linear_scale_position",   double_t,   0, "inverse vel factor achsen",    0.001, 0.0001, 0.005)
gen.add("linear_scale_rotation",   double_t,   0, "inverse vel factor endeffektor", 0.02, 0.0001, 0.05)
gen.add("linear_scale_gripper",   double_t,   0,  "inverse vel factor gripper"    , 0.002, 0.0001, 0.005)


exit(gen.generate(PACKAGE, "ohm_arm_interface", "Reconfigure"))
