#!/usr/bin/env python
PACKAGE = "ohm_visca_control"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

baudrate = gen.enum([ gen.const("9600_bps",      int_t, 0, " sets baudrate to 9600bps"),
                       gen.const("19200_bps",     int_t, 1, "sets baudrate to 19200bps"),
                       gen.const("38400_bps",      int_t, 2, "sets baudrate to 38400bps"),
                       gen.const("115200_bps",      int_t, 3, "sets baudrate to 115200bps")],
                     "sets the baudrate of the communication interface")
gen.add("baudrate", int_t, 0, "sets the baudrate of the communication interface", 0, 0, 3, edit_method=baudrate)

d_zoom_max = gen.enum([ gen.const("dzoom_x1",      int_t, 0, " sets maximum digtal zoom to x1"),
                       gen.const("dzoom_x4",     int_t, 1, "sets maximum digtal zoom to x4"),
                       gen.const("dzoom_x12",      int_t, 2, "sets maximum digtal zoom to x12"),
                       gen.const("dzoom_x16",      int_t, 3, "sets maximum digtal zoom to x16")],
                     "sets maximum of digital zoom")
gen.add("d_zoom_max", int_t, 0, "sets maximum of digital zoom", 0, 0, 3, edit_method=d_zoom_max)

gen.add("zoom_tracking_AF",    bool_t,    0, "sets zoom tracking AF On/Off", True)

gen.add("keystone_correction",   int_t,    0, "Keystone correction level", 0,  0, 18)

monitoring_mode = gen.enum([ gen.const("1080_30p",      int_t, 0, " sets monitoring mode to 1920x1080 30p"),
                       gen.const("1080_25p",     int_t, 1, "sets monitoring mode to 1920x1080 25p"),
                       gen.const("1080_60i",      int_t, 2, "sets monitoring mode to 1920x1080 60i"),
                       gen.const("1080_50i",      int_t, 3, "sets monitoring mode to 1920x1080 50i"),
                       gen.const("720_60p",     int_t, 4, "sets monitoring mode to 1280x720 60p"),
                       gen.const("720_50p",      int_t, 5, "sets monitoring mode to 1280x720 50p"),
                       gen.const("1080_60p",     int_t, 6, "sets monitoring mode to 1920x1080 60p"),
                       gen.const("1080_50p",      int_t, 7, "sets monitoring mode to 1920x1080 50p"),
                       gen.const("720_59_94p",      int_t, 8, "sets monitoring mode to 1280x720 59.94p"),
                       gen.const("NTSC",     int_t, 9, "sets monitoring mode to NTSC"),
                       gen.const("PAL",      int_t, 10, "sets monitoring mode to PAL"),
                       gen.const("720_29_97p",     int_t, 11, "sets monitoring mode to 1280x720 29.97p"),
                       gen.const("720_30p",      int_t, 12, "sets monitoring mode to 1280x720 30p"),
                       gen.const("720_25p",      int_t, 13, "sets monitoring mode to 1280x720 25p"),
                       gen.const("1080_59_94p",     int_t, 14, "sets monitoring mode to 1920x1080 59.94p"),
                       gen.const("1080_29_97p",      int_t, 15, "sets monitoring mode to 1920x1080 29.97p"),
                       gen.const("1080_59_94i",     int_t, 16, "sets monitoring mode to 1920x1080 50.94i")],
                     "sets monitoring mode")
gen.add("monitoring_mode", int_t, 0, "sets monitoring mode", 13, 0, 16, edit_method=monitoring_mode)

LVDS_mode = gen.enum([ gen.const("single",      int_t, 0, "single LVDS mode"),
                       gen.const("dual",     int_t, 1, "dual LVDS mode")],
                     "sets LVDS mode")
gen.add("LVDS_mode", int_t, 0, "sets LVDS mode", 0, 0, 1, edit_method=LVDS_mode)

lense_comp_upper = gen.enum([ gen.const("Crop",      int_t, 0, "Lense compensation crop"),
                       gen.const("All",     int_t, 1, "Lense compensation all")],
                     "sets upper byte of lense compensation")
gen.add("lense_comp_upper", int_t, 0, "sets upper byte of lense compensation", 0, 0, 1, edit_method=lense_comp_upper)

lense_comp_lower = gen.enum([ gen.const("Off",      int_t, 0, "Lense compensation Off"),
                       gen.const("table_1",     int_t, 1, "Lense compensation Table 1"),
                       gen.const("table_2",      int_t, 2, "Lense compensation Table 2"),
                       gen.const("table_3",      int_t, 3, "Lense compensation Table 3"),
                       gen.const("table_4",     int_t, 4, "Lense compensation Table 4")],
                     "sets lower byte of lense compensation")
gen.add("lense_comp_lower", int_t, 0, "sets lower byte of lense compensation", 0, 0, 4, edit_method=lense_comp_lower)

maximum_f = gen.enum([ gen.const("F_22",      int_t, 0, "maximum F number = F22"),
                       gen.const("F_16",     int_t, 1, "maximum F number = F16"),
                       gen.const("F_14",      int_t, 2, "maximum F number = F14"),
                       gen.const("F_11",      int_t, 3, "maximum F number = F11"),
                       gen.const("F_9_6",     int_t, 4, "maximum F number = F9.6"),
                       gen.const("F_8",      int_t, 5, "maximum F number = F8.0")],
                     "sets maximum F Number")
gen.add("maximum_f", int_t, 0, "sets maximum F Number", 3, 0, 5, edit_method=maximum_f)

minimum_f = gen.enum([ gen.const("F_6_8",      int_t, 0, "minimum F number = F6.8"),
                       gen.const("F_5_6",     int_t, 1, "minimum F number = F5.6"),
                       gen.const("F_4_8",      int_t, 2, "minimum F number = F4.8"),
                       gen.const("F_4_0",      int_t, 3, "minimum F number = F4.0"),
                       gen.const("F_3_4",     int_t, 4, "minimum F number = F3.4"),
                       gen.const("F_2_8",      int_t, 5, "minimum F number = F2.8"),
                       gen.const("F_2_4",      int_t, 6, "minimum F number = F2.4"),
                       gen.const("F_2_0",      int_t, 7, "minimum F number = F2.0"),
                       gen.const("F_1_8",     int_t, 8, "minimum F number = F1.8")],                
                     "sets minimum F Number")
gen.add("minimum_f", int_t, 0, "sets minimum F Number", 3, 0, 8, edit_method=minimum_f)

minimum_shutter_speed = gen.enum([ gen.const("shutter_min_1_250",      int_t, 0, "minimum shutter speed 1/250"),
                       gen.const("shutter_min_1_350",     int_t, 1, "minimum shutter speed 1/350"),
                       gen.const("shutter_min_1_500",      int_t, 2, "minimum shutter speed 1/500"),
                       gen.const("shutter_min_1_725",      int_t, 3, "minimum shutter speed 1/725"),
                       gen.const("shutter_min_1_1000",     int_t, 4, "minimum shutter speed 1/1000"),
                       gen.const("shutter_min_1_1500",      int_t, 5, "minimum shutter speed 1/1500"),
                       gen.const("shutter_min_1_2000",      int_t, 6, "minimum shutter speed 1/2000"),
                       gen.const("shutter_min_1_3000",      int_t, 7, "minimum shutter speed 1/3000"),
                       gen.const("shutter_min_1_4000",     int_t, 8, "minimum shutter speed 1/4000"),
                       gen.const("shutter_min_1_6000",      int_t, 9, "minimum shutter speed 1/6000"),
                       gen.const("shutter_min_1_10000",      int_t, 10, "minimum shutter speed 1/10000")],                
                     "sets minimum shutter speed")
gen.add("minimum_shutter_speed", int_t, 0, "sets minimum shutter speed", 4, 0, 10, edit_method=minimum_shutter_speed)

maximum_shutter_speed = gen.enum([ gen.const("shutter_max_1_1",      int_t, 0, "maximum shutter speed 1/1"),
                       gen.const("shutter_max_1_2",     int_t, 1, "maximum shutter speed 1/2"),
                       gen.const("shutter_max_1_3",      int_t, 2, "maximum shutter speed 1/3"),
                       gen.const("shutter_max_1_4",      int_t, 3, "maximum shutter speed 1/4"),
                       gen.const("shutter_max_1_6",     int_t, 4, "maximum shutter speed 1/6"),
                       gen.const("shutter_max_1_8",      int_t, 5, "maximum shutter speed 1/8"),
                       gen.const("shutter_max_1_15",      int_t, 6, "maximum shutter speed 1/15")],                
                     "sets maximum shutter speed")
gen.add("maximum_shutter_speed", int_t, 0, "sets maximum shutter speed", 3, 0, 6, edit_method=maximum_shutter_speed)

gen.add("apply_data",    bool_t,    0, "applys data once when checked", False)

exit(gen.generate(PACKAGE, "ohm_visca_control_node", "ohm_visca_setup"))