#!/usr/bin/env python
PACKAGE = "ohm_visca_control"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("zoom_direct",   int_t,    0, "Optical Zoom Level", 0,  0, 31424)
gen.add("autofocus",    bool_t,    0, "Autofocus/ Manual Focus", True)
gen.add("focus_direct",    int_t,    0, "Optical Focus Level", 4096,  4096, 49152)
gen.add("autofocus_sensitivity",   bool_t,   0, "AF Sensivity Normal/Low",  False)
af_mode = gen.enum([ gen.const("Normal",      int_t, 0, "Normal AF Mode"),
                       gen.const("Interval",     int_t, 1, "Interval AF Mode"),
                       gen.const("Zoom_Trigger",      int_t, 2, "Zoom Trigger AF Mode")],
                     "sets the Autofocus Modes")
gen.add("af_mode", int_t, 0, "sets the Autofocus Modes", 0, 0, 2, edit_method=af_mode)
gen.add("vibration_compensation",    bool_t,    0, "enables the vibration compensation", False)
wb_mode = gen.enum([ gen.const("Narrow_ATW1",      int_t, 0, "Narrow Whitebalance mode"),
                       gen.const("Indoor",     int_t, 1, "Indoor Whitebalance mode"),
                       gen.const("Outdoor",      int_t, 2, "Outdoor Whitebalance mode"),
                       gen.const("One_Push",      int_t, 3, "One Push Whitebalance mode"),
                       gen.const("Wide_ATW2 ",      int_t, 4, "Wide Whitebalance mode"),
                       gen.const("Manual_WB",      int_t, 5, "Manual Whitebalance mode")],
                     "sets whitebalance mode")
gen.add("wb_mode", int_t, 0, "sets the whitebalance Modes", 0, 0, 5, edit_method=wb_mode)
gen.add("rgain_direct",    int_t,    0, "Blue Gain Level", 0,  0, 255)
gen.add("bgain_direct",    int_t,    0, "Red Gain Level", 0,  0, 255)
ae_mode = gen.enum([ gen.const("Full_Auto",      int_t, 0, "full auto exposure mode"),
                       gen.const("Manual_AE",     int_t, 1, "manual auto exposure mode"),
                       gen.const("Shutter_Priority",      int_t, 2, "shutter priority mode"),
                       gen.const("Iris_Priority",      int_t, 3, "iris priority mode")],
                     "sets auto exposure mode mode")
gen.add("ae_mode", int_t, 0, "sets auto exposure mode", 0, 0, 3, edit_method=ae_mode)
gen.add("slow_shutter",    bool_t,    0, "Auto Slow On/Off", False)
shutter_manual = gen.enum([ gen.const("1_1",      int_t, 0, "Narrow Whitebalance mode"),
                       gen.const("1_2",     int_t, 1, "1/1 shutter speed"),
                       gen.const("1_4",      int_t, 2, "1/2 shutter speed"),
                       gen.const("1_8",      int_t, 3, "1/8 shutter speed"),
                       gen.const("1_15",      int_t, 4, "1/15 shutter speed"),
                       gen.const("1_30",     int_t, 5, "1/30 shutter speed"),
                       gen.const("1_60",      int_t, 6, "1/60 shutter speed"),
                       gen.const("1_90",      int_t, 7, "1/90 shutter speed"),
                       gen.const("1_100",      int_t, 8, "1/100 shutter speed"),
                       gen.const("1_120",     int_t, 9, "1/120 shutter speed"),
                       gen.const("1_180",      int_t, 10, "1/180 shutter speed"),
                       gen.const("1_250",      int_t, 11, "1/250 shutter speed"),
                       gen.const("1_350",      int_t, 12, "1/350 shutter speed"),
                       gen.const("1_500",     int_t, 13, "1/500 shutter speed"),
                       gen.const("1_725",      int_t, 14, "1/725 shutter speed"),
                       gen.const("1_1000",      int_t, 15, "1/1000 shutter speed"),
                       gen.const("1_1500",      int_t, 16, "1/1500 shutter speed"),
                       gen.const("1_2000",     int_t, 17, "1/2000 shutter speed"),
                       gen.const("1_3000",      int_t, 18, "1/3000 shutter speed"),
                       gen.const("1_4000",      int_t, 19, "1/4000 shutter speed"),
                       gen.const("1_6000",      int_t, 20, "1/6000 shutter speed"),
                       gen.const("1_10000",      int_t, 21, "1/10000 shutter speed")],
                     "sets shutter speed in manual AE or AE shutter priority mode")
gen.add("shutter_manual", int_t, 0, "sets shutter speed in manual AE or AE shutter priority mode", 5, 0, 21, edit_method=shutter_manual)
iris_manual = gen.enum([ gen.const("Close",      int_t, 0, "Closes Iris"),
                       gen.const("F22",     int_t, 1, "F22 Iris"),
                       gen.const("F16",      int_t, 2, "F16 Iris"),
                       gen.const("F14",      int_t, 3, "F14 Iris"),
                       gen.const("F11",      int_t, 4, "F11 Iris"),
                       gen.const("F9_6",     int_t, 5, "F9.6 Iris"),
                       gen.const("F8",      int_t, 6, "F8 Iris"),
                       gen.const("F6_8",      int_t, 7, "F6.8 Iris"),
                       gen.const("F5_6",      int_t, 8, "F5.6 Iris"),
                       gen.const("F4_8",     int_t, 9, "F4.8 Iris"),
                       gen.const("F4",      int_t, 10, "F4 Iris"),
                       gen.const("F3_4",      int_t, 11, "F3.4 Iris"),
                       gen.const("F2_8",      int_t, 12, "F2.8 Iris"),
                       gen.const("F2_4",     int_t, 13, "F2.4 Iris"),
                       gen.const("F2",      int_t, 14, "F2 Iris"),
                       gen.const("F1_8",      int_t, 15, "F1.8 Iris")],
                     "sets iris in manual AE or AE iris priority mode")
gen.add("iris_manual", int_t, 0, "sets iris in manual AE or AE iris priority mode", 9, 0, 15, edit_method=iris_manual)
gain_manual = gen.enum([ gen.const("gain_0dB",      int_t, 0, "0dB Gain"),
					   gen.const("gain_p0dB",      int_t, 1, "+0dB Gain"),
                       gen.const("gain_p2dB",     int_t, 2, "+2dB Gain"),
                       gen.const("gain_p4dB",      int_t, 3, "+4dB Gain"),
                       gen.const("gain_p6dB",      int_t, 4, "+6dB Gain"),
                       gen.const("gain_p8dB",      int_t, 5, "+8dB Gain"),
                       gen.const("gain_p10dB",     int_t, 6, "+10dB Gain"),
                       gen.const("gain_p12dB",      int_t, 7, "+12dB Gain"),
                       gen.const("gain_p14dB",      int_t, 8, "+14dB Gain"),
                       gen.const("gain_p16dB",      int_t, 9, "+16dB Gain"),
                       gen.const("gain_p18dB",     int_t, 10, "+18dB Gain"),
                       gen.const("gain_p20dB",      int_t, 11, "+20dB Gain"),
                       gen.const("gain_p22dB",      int_t, 12, "+22dB Gain"),
                       gen.const("gain_p24dB",      int_t, 13, "+24dB Gain"),
                       gen.const("gain_p26dB",     int_t, 14, "+26dB Gain"),
                       gen.const("gain_p28dB",      int_t, 15, "+28dB Gain"),
                       gen.const("gain_p30dB",      int_t, 16, "+30dB Gain"),
                       gen.const("gain_p32dB",     int_t, 17, "+32dB Gain"),
                       gen.const("gain_p34dB",      int_t, 18, "+34dB Gain"),
                       gen.const("gain_p36dB",      int_t, 19, "+36dB Gain"),
                       gen.const("gain_p38dB",      int_t, 10, "+38dB Gain"),
                       gen.const("gain_p40dB",     int_t, 21, "+40dB Gain"),
                       gen.const("gain_p42dB",      int_t, 22, "+42dB Gain"),
                       gen.const("gain_p44dB",      int_t, 23, "+44dB Gain"),
                       gen.const("gain_p46dB",      int_t, 24, "+46dB Gain")],
                     "sets iris in manual AE or AE iris priority mode")
gen.add("gain_manual", int_t, 0, "sets gain in manual AE or AE shutter priority mode", 1, 0, 24, edit_method=gain_manual)
gen.add("exp_comp",    bool_t,    0, "Exposure Compensation On/Off in modes other then manual AE", False)
exp_comp_manual = gen.enum([ gen.const("exp_comp_m12dB",      int_t, 0, "-12dB exposure compensation"),
					   gen.const("exp_comp_m10dB",      int_t, 1, "-10dB exposure compensation"),
                       gen.const("exp_comp_m8dB",     int_t, 2, "-8dB exposure compensation"),
                       gen.const("exp_comp_m6dB",      int_t, 3, "-6dB exposure compensation"),
                       gen.const("exp_comp_m4dB",      int_t, 4, "-4dB exposure compensation"),
                       gen.const("exp_comp_m2dB",      int_t, 5, "-2dB exposure compensation"),
                       gen.const("exp_comp_0dB",     int_t, 6, "0dB exposure compensation"),
                       gen.const("exp_comp_p2dB",      int_t, 7, "+2dB exposure compensation"),
                       gen.const("exp_comp_p4dB",      int_t, 8, "+4dB exposure compensation"),
                       gen.const("exp_comp_p6dB",      int_t, 9, "6dB exposure compensation"),
                       gen.const("exp_comp_p8dB",     int_t, 10, "+8dB exposure compensation"),
                       gen.const("exp_comp_p10dB",      int_t, 11, "+10dB exposure compensation"),
                       gen.const("exp_comp_p12dB",      int_t, 12, "+12dB exposure compensation")],
					"sets exposure compensation in auto exposure modes other then manual")
gen.add("exp_comp_manual", int_t, 0, "sets exposure compensation in auto exposure modes other then manual", 6, 0, 12, edit_method=exp_comp_manual)
gen.add("backlight_compensation",    bool_t,    0, "backlight compensation on/off, only usable when spotAE off", False)
gen.add("spotAE",    bool_t,    0, "spotAE on/off, only usable when backlight compensation off", False)
gen.add("spotAE_position_x",    int_t,    0, "sets spotAE X position", 8,  0, 16)
gen.add("spotAE_position_y",    int_t,    0, "sets spotAE Y Position", 7,  0, 14)
gen.add("AE_response",    int_t,    0, "sets AE response setting", 16,  0, 48)
gen.add("wide_dynamic_range",    bool_t,    0, "turns the wide dinamic range on/off", True)
defog = gen.enum([ gen.const("defog_off",      int_t, 0, "defog off"),
					   gen.const("defog_low",      int_t, 1, "low defog"),
					   gen.const("defog_mid",      int_t, 2, "medium defog"),
                       gen.const("defog_high",     int_t, 3, "high defog")],
					"sets defog intensity")
gen.add("defog", int_t, 0, "sets defog intensity", 0, 0, 3, edit_method=defog)
gen.add("aperture_direct",    int_t,    0, "sets aperture level", 8,  0, 15)
gen.add("value3DNR",   int_t,    0, "3D noise reduction level", 3,  0, 5)
gen.add("value2DNR",   int_t,    0, "2D noise reduction level", 3,  0, 5)
gamma = gen.enum([ gen.const("standard_gamma",      int_t, 0, "Standard gamma setting"),
					   gen.const("streight_gamma",      int_t, 1, "Streight gamma setting"),
					   gen.const("low_noise_gamma",      int_t, 2, "low noise (narrow dynamic range)"),
                       gen.const("wide_dynamic_gamma",     int_t, 3, "wide dynamic range")],
					"sets gamma intensity")
gen.add("gamma", int_t, 0, "sets gamma intensity", 0, 0, 3, edit_method=gamma)
gen.add("lr_reverse",    bool_t,    0, "Mirror Image On/Off", False)
gen.add("freeze",    bool_t,    0, "Freeze Video On/Off", False)
gen.add("picture_effect",    bool_t,    0, "Picture effect B&W/Off", False)
gen.add("picture_flip",    bool_t,    0, "Picture Flip (upside down and mirror) On/Off", False)
chroma_suppression = gen.enum([ gen.const("chroma_suppression_lowest",      int_t, 0, "Lowest chroma suppression"),
					   gen.const("chroma_suppression_low",      int_t, 1, "Low chroma suppression"),
					   gen.const("chroma_suppression_mid",      int_t, 2, "Medium chroma suppression"),
                       gen.const("chroma_suppression_high",     int_t, 3, "High chroma suppression")],
					"sets chroma suppresion level")
gen.add("chroma_suppression", int_t, 0, "sets chroma suppresion level", 0, 0, 3, edit_method=chroma_suppression)
gen.add("color_gain",    int_t,    0, "sets Color Gain/Saturation level", 4,  0, 14)
gen.add("color_hue",    int_t,    0, "sets olor hue level", 7,  0, 14)

exit(gen.generate(PACKAGE, "ohm_visca_control_node", "ohm_visca_control"))