<?xml version="1.0"?>
<launch>
	<node pkg = "ohm_gripper" type = "ohm_gripper" name = "ohm_gripper">
	  <param name = "topic_state_joint5" type = "string"         value = "/joint_5/command"/>
	  <param name = "topic_state_joint6" type = "string"         value = "/joint_6/command"/>	
	  <param name = "topic_state_joint7" type = "string"         value = "/joint_7/command"/>	
	  <param name = "topic_state_state_gripper1" type = "string" value = "/joint_gripper_1/command"/>	
	  <param name = "topic_state_state_gripper2" type = "string" value = "/joint_gripper_2/command"/>	
      <param name = "topic_angle_joint5" type = "string"         value = "/joint5/pos/des"/>
	  <param name = "topic_angle_joint6" type = "string"         value = "/joint6/pos/des"/> 
      <param name = "topic_angle_joint7" type = "string"         value = "/joint7/pos/des"/> 	
      <param name = "topic_angle_gripper1" type = "string"       value = "/gripper1/pos/des"/> 	
      <param name = "topic_angle_gripper2" type = "string"       value = "/gripper2/pos/des"/> 	 	
    </node>
	
	
</launch>